/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
/* Variables CSS */
:root {
	--main-color: #1d6154;
	--secondary-color: #b3b3b3;
	--background-color: #fffef8;
}

/* Styles globaux */
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
	background: var(--background-color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

h1,
h2 {
	font-family: "Syne";
}

h1 {
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	text-align: center;
	font-size: 30px;
	color: var(--main-color);
}

header nav ul {
	display: flex;
	align-items: center;
}
li img {
	max-width: 22px;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a:hover {
	color: #b1663c;
}
footer {
	text-align: right;
	padding: 20px 100px;
	background-color: white;
	flex-shrink: 0;
}

/* Introduction Styles */
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure,
#introduction article {
	flex: 1;
}

#introduction img {
	width: 90%;
}

#introduction h2 {
	margin-bottom: 1em;
	text-align: left;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* Portfolio Styles */
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.gallery img {
	width: 100%;
}
.filtres {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.filtres > * {
	border-radius: 60px;
	border: 1px solid #1d6154;
	padding: 10px 20px;
}
.active {
	background: #1d6154;
	color: white;
}
figcaption {
	text-align: left;
	font-size: 13px;
	padding-top: 10px;
}
/* Contact Styles */
#contact p {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

input[type="submit"],
.button1 {
	font-family: "Syne";
	color: white;
	background-color: var(--main-color);
	margin: 2em auto;
	width: 180px;
	border-radius: 60px;
}
label {
	padding: 40px 0 10px 0;
}

/* page login */
form {
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	width: fit-content;
}
textarea,
input {
	width: 379px;
}
.button1,
input,
textarea, select#categories {
	border-style: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	min-height: 50px;
	/* padding-left: 10px; */
	/* width: auto; */
}
a,
a:visited {
	text-align: center;
	color: black;
	text-decoration: none;
}
#error-message {
	display: none;
	color: red;
	text-align: center;
	padding: 10px;
}
#portfolio {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 80px auto;
}
.modif_button {
	margin-top: -56px;
	align-self: center;
	margin-right: -300px;
	gap: 5px;
	flex-direction: row;
	align-items: center;
	display: none;
}
/* Modale Styles */
.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.modal-1 {
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}
.titlemodal {
	font-size: 26px;
	text-align: center;
    padding: 20px;
}
.fa-xmark {
	align-self: flex-end;
	float: inline-end;
}
.project-modale {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	width: 80%;
	padding-bottom: 30px;
	border-bottom: 1px solid #b3b3b3;
}

.project-modale img {
	width: 77px;
	height: 102px;
	margin: 5px;
}
.trash {
	position: relative;
}
i.fa-solid.fa-trash-can {
	position: absolute;
	bottom: 85px;
	right: 10px;
	color: white;
	background-color: black;
	text-align: center;
	padding: 3px;
	border-radius: 3px;
}
.modal-2 {
    background: white;
    padding: 20px;
	display: none;
	text-align: center;
}
i.fa-solid.fa-arrow-left {
    width: 20px;
    height: 20px;
	float: left;
}
i, a{
	cursor: pointer;
}
.ajoutPhoto{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    height: 170px;
    background-color: #E8F1F6;
    /* padding: 20px 0; */
    justify-content: space-around;
}
.fa-image{
	color: #B9C5CC;
	font-size: 60px;
	line-height: normal;
}

.ajoutPhoto .button3{
	all: unset;
	/* margin: 16px; */
}

.button3 label{
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #306685;
	background-color: #CBD6DC;;
	padding: 10px 32px;
	text-align: center;
	border-radius: 50px ;
}

.button3 input{
	display: none;
}

.instruction{
	font-size: 10px;
}
.modal-2>form{
	text-align: left;
	margin: 0 20px 20px;
	padding-bottom: 30px;
    border-bottom: 1px solid #b3b3b3;
}
.btn_validate {
    margin: 0 20px;
    border-radius: 60px;
    background: #A7A7A7;
    color: white;
    font-family: Syne;
    font-size: 14px;
    border: none;
    width: 237px;
    height: 36px;
}
#categories {
    color: #6C6C6C;
}
img.uploaded-photo {
    height: 169px;
    width: fit-content;
}